body{
    background-color: #ede7f6;
    font-family: Roboto,sans-serif;
}
.form{
    height: 1100px;
    width: 600px;
    margin: auto;
}
.required{
font: size 13px;
color: red;
}
.title-div{
    height: 150px;
    width: 600px;
    background-color:#fdfefe;
    margin: 15px;
    border-radius: 8px;
    border-top: 8px solid #6703c4;
    padding: 25px;

}
.name-div,.college-div,.gmail-div,.mobile-div {
    height: 150px;
    width: 650px;
    background-color: #fdfefe;
    margin: 15px;
    border-radius: 8px;
}
.name{
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 15px;

}

.input-div{
    padding-top: 25px;
    padding-left: 25px;

}
.